<script type="text/template" id="welcome--template">
  <h1>Welcome to Bike Counter!</h1>
  <h4>Bike Counter is a <a href="http://codeforsacramento.org">Code for Sacramento</a> project in collaboration with <a href="http://sacbike.org">SABA</a></h4>
</script>