extends layout

block content
    div#app-main--region
        h2.
            Welcome!
    footer#app-footer.
        <h4>Bike Counter is a <a href="http://codeforsacramento.org">Code for Sacramento</a> project in collaboration with <a href="http://sacbike.org">SABA</a></h4>