// This project uses the Jade template engine.
// Jade's syntax is an "HTML shorthand".
// Please see http://jade-lang.com/tutorial/ for an introduction to Jade.
doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='compiled/app.js?q='+cacheBuster)
 body(ng-app='bikeCounter')
    block content
    // include client-side partials
    include ./partials/welcome.tmpl
