/*  Bike And Walk Web App styles */
/* RESETS */
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-weight: inherit;
	font-style: inherit;
	font-size: 14pt;
	font-family: inherit;
	vertical-align: baseline;
}

/* Remember to define focus styles! */
:focus {

}

/* End Resets */
/* IE Hacks*/
div {zoom:1;height:1%;}


html {
	background-color: white;
	color:rgb(65,65,65);
	font-family:helvetica,arial,sans-serif;
}

p
{
	margin-bottom:.5em;
	line-height: 1.2;
	font-size:100%;
}

a, .script-link
{
	text-decoration:underline;
	cursor:pointer;
	color:rgb(65,65,65);
}

a:hover {}

dt { font-weight: bold; }

ol, li, dl, dt, dd 
{ 
	line-height: 1.5em; 
}

h1, h2, h3, h4, h5, h6 {
	font-family: helvetica, arial, sans-serif;
	font-weight: bold;
	text-align: center;
	background-color: transparent;
	margin: .125em 0 .05em 0;
	padding:0;
	line-height:.8;
}
h1 { font-size: 100%; }

img
{
	border: 0;
}

pre {
	font-family:courier, monospace;
	font-size:80%;
}
/* clear any floats */
.clear, .clearer {
	clear:both;
}

#contain {
	width:320px;
	margin:0;
}

#streetPattern {
	margin:0 auto 0em auto;
	background-image:url(../images/IntersectionBackground.png);
	background-repeat:no-repeat;
	background-color:none;
	background-size:contain;
	background-position:center;
}
.entry {
	cursor:pointer;
	font-size:90%;
}

img.shoulder {
	width:15px;
	height:20px;
}
img.intersection {
	width:128px;
	height:5px;
}

#totalCnt, #total {
	font-size:80%;
	font-weight:bold;
}

p#eastWestStreetName, #northSouthStreetName{
	font-size:60%;
	text-align:center;
	background-color:#eee;
	width:225px;
	margin: 6px auto 0 auto;
	padding-bottom:3px;
	height:18px;
	overflow:hidden;
}
#northSouthStreetName {
	-ms-transform: rotate(270deg); /* IE 9 */
	-webkit-transform: rotate(270deg); /* Safari */
	transform: rotate(270deg);
	position:absolute;
	top:150px;
	left:-95px;
	width:230px;
}
.arrows {
	height:15px;
	width:15px;
	position:relative;
	top:3px;
}

.N_Entry {
	padding:20px 2px 25px 2px;
}
.S_Entry {
	padding:25px 2px 25px 2px;
}
.E_Entry {
	padding:2px 10px 2px 30px;
}
.W_Entry {
	padding:2px 30px 2px 10px;
}

p#northWay, p#southWay {
	text-align:center;
	padding-top:15px;
	padding-bottom:15px;

}
p#southWay {
	padding-top:22px;
}
p.eastWestWay {
	padding:8px 0;
	margin:0;
	text-align:center;
}

/* directional arrows for lanes */
#A1 {
	background:url(../images/arrows/NorthToEast.png) no-repeat bottom;
	background-size:80%;
}
#A2 {
	background:url(../images/arrows/NorthToSouth.png) no-repeat bottom;
	background-size:80%;
}
#A3 {
	background:url(../images/arrows/NorthToWest.png) no-repeat bottom;
	background-size:80%;
}
#B1 {
	background:url(../images/arrows/EastToSouth.png) no-repeat left;
	background-size:35%;
}
#B2 {
	background:url(../images/arrows/EastToWest.png) no-repeat left;
	background-size:35%;
}
#B3 {
	background:url(../images/arrows/EastToNorth.png) no-repeat left;
	background-size:35%;
}
#C1 {
	background:url(../images/arrows/SouthToWest.png) no-repeat top;
	background-size:80%;
}
#C2 {
	background:url(../images/arrows/SouthToNorth.png) no-repeat top;
	background-size:80%;
}
#C3 {
	background:url(../images/arrows/SouthToEast.png) no-repeat top;
	background-size:80%;
}
#D1 {
	background:url(../images/arrows/WestToNorth.png) no-repeat right;
	background-size:35%;
}
#D2 {
	background:url(../images/arrows/WestToEast.png) no-repeat right;
	background-size:35%;
}
#D3 {
	background:url(../images/arrows/WestToSouth.png) no-repeat right;
	background-size:35%;
}

.traveler {
	height:77px;
	width:57px;
	float:left;
	margin-left:16px;
	margin-top:6px;
	cursor:pointer;
}


/* seems that safari at least requires
that the background positioning and repeat
directives all be applied together. That is,
changing the background image resets the repeat 
and position to default

In the production version the number and icons
for each traveler will be provided by the server
so these elements will be created and decorated in js.
*/
#traveler_1 {
	background: url(../images/BikeFemale.png);
	background-repeat:no-repeat;
	background-position: 0 20px;
}
#traveler_2 {
	background: url(../images/BikeMale.png);
	background-repeat:no-repeat;
	background-position: 0 20px;
}
#traveler_3 {
	background: url(../images/BikeFemaleWalk.png);
	background-repeat:no-repeat;
	background-position: 0 20px;
}
#traveler_4 {
	background: url(../images/BikeMaleWalk.png);
	background-repeat:no-repeat;
	background-position: 0 20px;
}

.travelerCnt {
	text-align:center;
	font-weight:bold;
	background-color:red;
	width:100%;
	display:block;
	font-size:80%;
	color:white;
	border-radius: 5px;
}

#undoCounts {
	text-align:center;
	width:60px;
	margin:0px 20px 0px auto;
	padding:3px;
	border:#ddd 1.5pt solid;
	border-radius:5px;
	background-color:#eee;
	cursor:pointer;
	font-size:80%;
}

/* Information Form */
#infoContain {
	width:200px;
	margin:30px auto;
}
#countInfo p {
	font-size:.8em;
}
#countInfo input {
	width:100%;
}

#buttonRow {
	margin-top:20px;
	text-align:right;
}
#buttonRow input {
	width:70px;
}

/* the menu items */
#modalDiv {
	display:none;
	position:absolute;
	background-color:transparent;
}

#menuButton {
	position:absolute;
	top:5px;
	left:5px;
	text-align:center;
	width:30px;
	padding:3px;
	border:#ddd 1.5pt solid;
	border-radius:5px;
	background-color:#eee;
	cursor:pointer;
	z-index:200;
}

#menuList ul {
	display:none;
	position:absolute;
	top:5px;
	left:5px;
	display:block;
	background-color:white;
	border:#ddd 1.5pt solid;
	border-radius:5px;
	padding:.5em;
	cursor:pointer;
	z-index:850;
}

#menuList ul li {
	list-style:none;
	padding:.5em;
	font-size:.8em;
	margin:0;
	padding:3px;
	z-index:1000;
}

#footer {
	height:100px;
	font-size:80%;
	color:#666;
	text-align:center;
}

#dataContain {
}

pre#data {
	overflow:auto;
	height:300px;
	width:80%;
	margin:10px auto;
	font-size:70%;
	padding:3px;
	border: 1px solid #666;
}